<link rel="stylesheet" href="/css/style.css">

<nav class="navbar">
    <div class="container navbar-container">
        <div class="navbar-brand">
            <img src="/Logo.png" alt="EcoTrack Logo" class="logo">
            <span class="brand-name">EcoTrack</span>
        </div>

        <div class="navbar-menu">
            <ul class="nav-links">
                <li><a href="/homepage" class="nav-link active">Home</a></li>
                <li><a href="/homepage#about" class="nav-link">About Us</a></li>
                <li><a href="/homepage#clients" class="nav-link">Client Network</a></li>
                <li><a href="/homepage#carbon" class="nav-link">Carbon Emission</a></li>
                <li><a href="/homepage#help" class="nav-link">Help & Support</a></li>
            </ul>

            <div class="auth-buttons">
                <a href="/companySignup" class="btn btn-login">Login</a>
                <a href="/companySignup" class="btn btn-register">Register</a>
            </div>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>
